*{
  margin: 0px;
  padding: 0px;
  box-sizing:border-box;  
}


nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  font-family:Georgia, 'Times New Roman', Times, serif;
  background-color: rgb(147, 124, 177);
 }

 .logo{
   color: white;
   text-transform: uppercase;
   letter-spacing: 5px;
   font-size: 25px;
}

nav ul{
  display:flex;
  justify-content: space-around;
  width:30%;
  text-decoration: none;
  letter-spacing: 5px;
  font-size: 14px;
  font-weight: bold;
}

nav ul li{
  list-style:none;
  text-decoration: none;
}

nav ul li a{
  color: whitesmoke;
  text-decoration: none;
  letter-spacing: 3px;
  font-size: 10px;
  font-weight: bold;
  
}

.burger{
  display:none;
  cursor:pointer;
}

.burger div{
  width: 25px;
  height: 3px;
  background-color: black;
  margin:5px;
}


@media screen and (max-width:768px){
  body{
    overflow: hidden;
  }
  nav ul{
    position:absolute;
    right:0px;
    height:92vh;
    top:8vh;
    background-color: rgb(147, 124, 177);
    display: flex;
    flex-direction: column;
    align-items: center;
    width:50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .nav-links li{
    opacity: 0;
  }

  .burger{
    display:block;
  }
}

.nav-active{
  transform: translateX(0%);
}


@keyframes navlinkFade {
  from{
    opacity : 0;
    transform : translateX(50px);
  }
  
  to{
    opacity : 1;
    transform : translateX(0px);
  }
}

  
@media screen and (max-width:1024){
  nav ul{
    width:60%;
  }  
}


